# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Provider binary files
terraform-provider-*

terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform/
